<div class="container">
    <div class="col-sm-9"><h1 class="text-center">{{ tittle }}</h1></div>
    <div class="col-sm-3">
    <button><a [routerLink]="['/emp']">Add New</a></button>
  </div></div>
  <div class="container" *ngIf="(employees.length > 0)">
    
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Project Code</th>
        <th scope="col">Project Name</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of emplist">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.empcode }}</td>
        <td>{{ item.empname }}</td>
        <td><p (click)="deleteEmps(item.id)">Delete</p></td>
        <td><p><a [routerLink]="['/edit/id', item.id]">Edit</a></p></td>
      </tr>
        </tbody>
  </table>
  <ul *ngFor="let item of z" class="pagination">
<li > <a [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/emplist/id', item]" (click)="paging(item)">{{ item + 1 }}</a></li>
  </ul>
  <div class="container" *ngIf="(employees.length == 0)">
    <h2 class="red">No Data Found</h2>
  </div>