<div>
    <div class="container">
        <h2>Employee Data</h2>
        <br>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Employee Name</th>
                        <th>Employee Salary</th>
                        <th>Employee Age</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees | paginate: { itemsPerPage: 10, currentPage: p }">
                        <td>{{employee.id}}</td>
                        <td>{{employee.employee_name}}</td>
                        <td>{{employee.employee_salary}}</td>
                        <td>{{employee.employee_age}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <hr>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <hr>
        <br>
    </div>
</div>