<div class="template_form_wrapper">
    <div class="container">
        <div class="template_form_container">
            <h2>Template Driven form with validations</h2>
            <p>{{profileForm.status}}</p>
            <form>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name">
                </div>
                <div class="form-group">
                    <label for="lname">Last Name</label>
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="text" class="form-control" id="pwd" name="pwd" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="cpwd">Confirm Password</label>
                    <input type="text" class="form-control" id="cpwd" name="cpwd" placeholder="Confirm Password">
                </div>
                <div class="radio-group">
                    <h4>Gender</h4>
                    <label class="radio-inline"><input type="radio" name="gender" checked>Male</label>
                    <label class="radio-inline"><input type="radio" name="gender">Female</label>
                </div>
                <br>
                <div class="form-group">
                    <label for="sel1">Select your designation</label>
                    <select class="form-control" id="sel1">
                            <option value=''>Select below options</option>
                            <option value="ui developer">UI developer</option>
                            <option value="dotNet developer">UI developer</option>
                            <option value="Java developer">UI developer</option>
                            <option value="Drupal developer">UI developer</option>
                        </select>
                </div>
                <div class="form_address">
                    <h4>Address</h4>
                    <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="State">
                    </div>
                    <div class="form-group">
                        <label for="city">City</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="City">
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea class="form-control" rows="3" id="comment" name="comment"></textarea>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="remember" id="remember"> Remember me</label>
                </div>
                <br>
                <div class="reactive_form_btn">
                    <button type="submit" class="btn btn-primary">Submit</button> &nbsp; &nbsp; &nbsp;
                    <button type="btn" class="btn btn-success" (click)="update()">Update</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>