<div class="container">
    <h2>Password and Confirm password validaton</h2>
    <p>{{ passwordComfirm.value | json }}</p>
    <p>{{ passwordComfirm.status }}</p>
    <form [formGroup]="passwordComfirm" (ngSubmit)="formData()">

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd" formControlName="pwd">
        </div>

        <div class="form-group">
            <label for="cpwd">Confirm Password:</label>
            <input type="password" class="form-control" id="cpwd" placeholder="Confirm your password" name="cpswd" formControlName="cpwd" [class.is-invalid]="passwordComfirm.errors?.misMatch">
            <div>
                <small class="text-danger" *ngIf="passwordComfirm.errors?.misMatch">Password do not match</small>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
</div>